@import "../../styles/variables.css";

.listItem {
    border: 1px solid #fff;
    border-radius: var(--border-radius);
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.listItem:hover, .listItem:focus {
    transform: scale(1.03);
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 163px;
}

.cardName {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
}

.cardText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    cursor: default;
    transition: all 0.2s;
}

.editButton {
    padding: var(--button-padding);
    margin-top: 34px;
    width: 100%;
}
